

c.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


.darkBG {
	background: #999
}

.darkerBG{
		background: #667
}

.darkestBG{
	background: #333
}

.mainpagecover {
  height: auto;
  width: auto;
  background-image: url(vaultboy.jpg);
  background-size: cover;
  border: 0px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;
  
}
.pageonecover {
  height: auto;
  width: auto;
  background-image: url(fallout_3.jpg);
  background-size: cover;
  border: 0px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;
  
}
.pagetwocover {
  height: auto;
  width: auto;
  background-image: url(newvegas.jpg);
  background-size: cover;
  border: 0px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;
  
}
.pagethreecover {
  height: auto;
  width: auto;
  background-image: url(fallout4.jpg);
  background-size: cover;
  border: 0px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;
  
}

.fontchange { 

font-family: Impact;
font-size: 300%;
color: black;
 }
 
 .fontchangenew { 

font-family: arial;
font-size:  100%;
color: green;
 }